<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="jumbotron">
    <h1>المدرسة الوطنية للمالية</h1>      
    <p>

  
  العنوان: عدد 10 نهج داغ هامر شولد 1001 تونس
  الهاتف: 809 347 71 (+216) / الفاكس: 283 338 71 (+216)
  البريد الالكتروني: info@enf.tn
  </p>
  </div>
     
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>تكلف المدرسة الوطنية للمالية بتأمين حاجيات وزارة المالية في كل مجالات التكوين</h1>      
    <p>

      التكوين الأساسي للناجحين في المناظرات الخارجية التي تنظمها وزارة المالية
 للدخول إلى مراحل تكوين متفقدين مركزيين و متفقدين و ملحقي تفقد للمصالح المالية،
    التكوين التأهيلي للحياة المهنية للمنتدبين الجدد إثر نجاحهم في المناظرات الخارجية
 التي تنظمها وزارة المالية في رتبة متفقد و ملحق بالتفقد و مراقب للمصالح المالية وذلك قبل مباشرتهم لمهامهم،
    التكوين المستمر لفائدة أعوان سلك وزارة المالية،
    </p>
  </div>
</div>



</body>
</html>
